.userProfile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    left: 5%;
}
.dropdown-toggle:empty::after{
    display: none;
}
.dropdown-menu {
    margin-top: 10px !important;
}

.cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
      color: orange; /* Change to your desired hover color */
    }
  
    .bi-cart {
      font-size: 1.5rem; /* Adjust the font size as needed */
      margin-right: 0.5rem; /* Add margin to separate the icon from text if needed */
    }
  }
  